<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CompetenceDBbackup" connectionString="Server=NZXT\SQLEXPRESS; Database=Competence; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="CompetenceDB" connectionString="Server=NZXT; Database=Competence; User Id=sj; Password=Cyber1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>